.header{
    width: 100%;
    position: relative;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header__icon-mail,
.header__icon,
.header__text,
.header__text_gift
{ 
    color: var(--subtext-color);
}
.header__mail:after{
    border-left: 1px solid #E7E7E7;
}
.header__text_gift:before{
    border-right: 1px solid #E7E7E7;
}

.header__nav-link,
.headerr__active-link{
    color: #333;
}
.header__nav-link::after{
    background: #333;
}
.header__topbar{
    border-bottom: 1px solid rgba(49, 49, 49, 0.089);
}
.header__navigation{
    margin-top: 0;
    padding: 25px 15px;
    border-bottom: 1px solid rgba(49, 49, 49, 0.089);
}

/* content */
.container{
    max-width:1410px;
    margin: 0 auto;   
    overflow: hidden;
}
.content{
    margin-top: 75px;
    padding-bottom: 100px;
}
.content__navigation{
    padding-bottom: 75px;
}
.content__navigation-item{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 0 40px;
}
.content__navigation-link{
    font-size:2.3rem;
    color : #868686;
    font-weight: 500;
    position: relative;
    padding-bottom: 7px;
}
.content__navigation-link.active{
    color : #333;
  }
.content__navigation-link.active::after{
    width: 100%;
  }
.content__navigation-link::after{
      content: "";
      position: absolute;
      bottom: -1px;
      height: 2.5px;
      background: #000;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      width: 0;
}
/* form */
.content__cart-table{
    border: 1px solid rgba(49, 49, 49, 0.089);
}
.content__cart-table thead {
    border-bottom: 1px solid rgba(49, 49, 49, 0.089);
}
.product-thumbnail{
    width: 50%;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 20px;
    text-align: left;
}
.product-price{
    width: 10%;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 20px;
    text-align: left;
}
.product-quantity{
    width: 20%;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 20px;
    box-sizing:border-box;
    text-align: left;
}
.product-subtotal{
    width: 10%;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 20px;
    text-align: left;
}
.product-remove{
    width: 10%;
}
.content__cart-items{
    border-bottom: 1px solid rgba(49, 49, 49, 0.089);
}
.content__cart-img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.product-thumbnail{
    display:flex;
    align-items: center;
    gap : 0 30px;
    width:100%;
}
.input-number{
    width: 45px;
    height: 38px;
    float: left;
    text-align: center;
    padding:0;
    border:none;
    box-sizing: border-box;
}
.quantity{
    text-align: center;
    border: 1px solid #ddd;
    width: 135px;
    height: 38px;
}
.table-middle{
    vertical-align: middle;
    white-space: nowrap;
}
.content__cart-name-link{
    color: #333;
}
.product-remove__item{
    font-size: 1.4rem;
    color: #333;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 50%;

}
.plus,
.minus{
    background: #fff;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    overflow: visible;
    text-decoration: none;
    cursor: pointer;
    color: #868686;
    border:none;
    text-align: center;
    width: 45px;
    height: 38px;
}
.content__cart-bottom{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 52px;
}
.coupon-input{
    width: 284px;
    height:52px;
    padding: 15px;
    font-size: 1.5rem;
    box-sizing: border-box;
    border: 1px solid rgba(49, 49, 49, 0.089);
}
.btn-submit__coupon{
    width:159px;
    height:52px;
    background-color: #333;
    color:#fff;
    font-size: 1.2rem;
    border: none;
    padding: 0;
    border-radius: none;
}
.content__continue-link{
    font-size: 1.5rem;
    color: #333;
    font-weight: 420;
}
.btn-submit__update{
    width:159px;
    height:52px;
    background-color: #333;
    color:#fff;
    font-size: 1.2rem;
    border: none;
    padding: 0;
    border-radius: none;
}
.cart-total{
    margin-left: 70px;
}
.cart-total__heading{
    font-size: 1.4rem;
    font-weight:500;
    background-color: #E9E9E9;
    padding: 15px;
    padding-left: 30px;
}

.cart-total__sub{
    padding-bottom: 30px;
}
.cart-total__title{
    display: inline-block;
    font-size: 1.5rem;
}
.cart-total__sub-value{
    display: inline-block;
    font-size: 2rem;
    margin-left: 95px;
    font-weight: 500;
}
.cart-total__ship{
    display: flex;
    align-items: center;
    gap: 0 100px;
    padding-bottom: 40px;
}
.cart-total__ship-list{
    padding-bottom: 5px;
}
.cart-total__ship-label{
    font-size: 1.5rem;
    color: #868686;
    cursor: pointer;
}
.cart-total__ship-description{
    display: inline-block;
    font-size: 1.5rem;
    color: #868686;
    max-width: 155px;
    line-height:20px;
    padding: 20px 0;
}
.cart-total__ship-calculator{
    font-size: 1.3rem;
    color: #333;
    font-weight: 600;
    position: relative;
    padding-bottom:5px;
}
.cart-total__ship-calculator::after{
      content: "";
      position: absolute;
      bottom: -1px;
      height: 2.5px;
      background: #000;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      width: 100%;
}
.total{
    display: flex;
    align-items: center;
    gap : 0 120px;
    padding-bottom: 20px;
}
.total__value{
    font-size: 2rem;
    font-weight: 500;
}
.checkout{
    width: 310px;
    height: 72px;
}
.checkout-link{
    display: inline-block;
    width: 100%;
    height:100%;
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
    font-weight:500;
    background-color: #333;
    line-height: 72px;
}
.footer__wrapper{
    background-color: #F8F8F8;
}
