.container{
    max-width:1410px;
    margin: 0 auto;
}
.form-heading{
    font-size:2.4rem;
    margin:0px 0px 30px;
}
.form-group{
    margin-bottom: 20px;
}
.form-title{
    color: #000;
    margin-bottom: 10px;
    font-size: 1.5rem;
    display: block;
}
.form__input{
    width: 100%;
    border-width: 0 0 2px;
    border-color: #ddd;
    padding: 0;
    height: 40px;
    line-height: 40px;
    color: #000;
}