.header{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header__topbar{
  border-bottom: 1px solid hsla(0,0%,100%,.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.header__topbar-left{
  display: flex;
  align-items: center;
}
.header__icon-mail{
  font-size:1.4rem;
  color: var(--primary-text-color);
  padding-right: 8px;
}
.header__icon{
  font-size:1.4rem;
  color: var(--primary-text-color);
  padding-right: 8px;
}
.header__text{
  font-size:1.4rem;
  color: var(--primary-text-color);
}
.header__text_gift{
  font-size:1.4rem;
  color: var(--primary-text-color);
  position: relative;
  margin-right: 10px;
  padding-right: 15px;
}
.header__text_gift:before{
  position:absolute;
  content:" " ;
  border-right: 1px solid hsla(0,0%,100%,.15);
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.header__mail:after{
  position:absolute;
  content:" " ;
  border-left: 1px solid hsla(0,0%,100%,.15);
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  left:0;
}
.header__mail{
  margin-left: 10px;
  padding-left: 15px;
  position: relative;
}
.header__nav{
  margin-left: 65px;
}
.header__nav-items{
    list-style: none;
    display: flex;
    align-items: center;
    gap : 0 40px;
}
.header__nav-link{
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 3px;
    position: relative;
    display: inline-block;
    margin-bottom: 3px;
}
.header__nav-link.active::after{
  width: 100%;
}
.header__nav-link::after{
    content: "";
    position: absolute;
    bottom: -1px;
    height: 2px;
    background: #fff;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    width: 0;
}
.header__nav-link:hover:after{
  width: 100%;
}
.header__navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 15px;
}
.header__menu{
  display: flex;
  align-items: center;
}
.header__logo{
  width: 70px;
  height: 18px;
}
.header__logo-img{
  width: 100%;
  height:100%;
  object-fit: cover;
}
.headerr__active-item{
  list-style: none;
  display: flex;
  align-items: center;
  gap : 0 25px;
}
.headerr__active-link{
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 2rem;
}
.header__navbar-user{
  position: relative;
}
.header__navbar-user:hover .header__navbar-user-menu{
  display: block ;
}
.header__navbar-user-menu{
  position: absolute;
  padding-left: 0;
  top:calc(100% + 6px);
  right:0;
  background-color:#fff;
  border-radius: 2px;
  width:160px;
  box-shadow:0 1px 5px rgb(194, 192, 192);
  z-index: 6;
  display: block;
}
.header__navbar-user-menu::before{
  content:"";
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 12px 12px;
  border-color: transparent transparent #fff transparent;
  right:4px;
  top:-24px;
}
.header__navbar-user-menu::after{
  content:"";
  display: block;
  position: absolute;
  top : -8px;
  right:0;
  width: 56%;
  height: 8px;
}
.header__navbar-user-item{
  list-style: none;
}
.header__navbar-user-item--separate{
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.header__navbar-user-menu a{
  text-decoration: none;
  color:var(--text-color);
  font-size: 1.4rem;
  padding: 6px 16px;
  display:block;  
  
}
.header__navbar-user-menu a:first-child{
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.header__navbar-user-menu a:last-child{
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.header__navbar-user-menu a:hover{
  background-color: #fafafa;
}
.username_login{
  color: var(--primary-text-color);
  font-size: 2rem;
  cursor: pointer;
}
.headerr__active-link i {
  transition: transform .20s linear;
}
.headerr__active-link i:hover{
  transform:translateY(-5px);
}
/* background */
.background_container{
  position: relative;
}
.background{
  position: relative;
  height: 100vh;
  display:none;
  user-select: none;
}
.background__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  color: white;
  font-weight: 500;
  font-size: 1.6rem;
  user-select: none;
  border-radius: 50%;
  text-align: center;
  line-height:40px;
  border: 1px solid #fff;
}
.next {
  right: 50px;
}
.prev{
  left: 50px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  border: none;
}
.information{
  position: absolute;
  top:40%;
  left: 15%;
  text-align: center;
  user-select: none;
}
.information__description{
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 3px;
  color: var(--primary-text-color);
  display: none;
}
.information__name{
  color: var(--primary-text-color);
  font-size: 5.5rem;
  margin: 20px 0 ;
  max-width: 400px;
}
.information__shop-link{
  background-color: #0c0c0c;
  color: var(--primary-text-color);
  font-size: 1rem;
  padding: 15px;
  font-weight: 500;
  line-height: 2.4rem;
  transition: all 0.3s linear;
}
.information__shop-link:hover{
  background-color: #fff;
  color:  #0c0c0c;
}
/* modal */
.header__user-container{
  display: flex;
  align-items: center;
  gap : 0 10px;
}
