.header{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header__topbar{
  border-bottom: 1px solid hsla(0,0%,100%,.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.header__topbar-left{
  display: flex;
  align-items: center;
}
.header__icon-mail{
  font-size:1.4rem;
  color: var(--primary-text-color);
  padding-right: 8px;
}
.header__icon{
  font-size:1.4rem;
  color: var(--primary-text-color);
  padding-right: 8px;
}
.header__text{
  font-size:1.4rem;
  color: var(--primary-text-color);
}
.header__text_gift{
  font-size:1.4rem;
  color: var(--primary-text-color);
  position: relative;
  margin-right: 10px;
  padding-right: 15px;
}
.header__text_gift:before{
  position:absolute;
  content:" " ;
  border-right: 1px solid hsla(0,0%,100%,.15);
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.header__mail:after{
  position:absolute;
  content:" " ;
  border-left: 1px solid hsla(0,0%,100%,.15);
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  left:0;
}
.header__mail{
  margin-left: 10px;
  padding-left: 15px;
  position: relative;
}
.header__nav{
  margin-left: 65px;
}
.header__nav-items{
    list-style: none;
    display: flex;
    align-items: center;
    gap : 0 40px;
}
.header__nav-link{
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 3px;
    position: relative;
    display: inline-block;
    margin-bottom: 3px;
}
.header__nav-link.active::after{
  width: 100%;
}
.header__nav-link::after{
    content: "";
    position: absolute;
    bottom: -1px;
    height: 2px;
    background: #fff;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    width: 0;
}
.header__nav-link:hover:after{
  width: 100%;
}
.header__navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 15px;
  position: relative;
}

.header__menu{
  display: flex;
  align-items: center;
}
.header__logo{
  width: 70px;
  height: 18px;
}
.header__logo-img{
  width: 100%;
  height:100%;
  object-fit: cover;
}
.headerr__active-item{
  list-style: none;
  display: flex;
  align-items: center;
  gap : 0 25px;
}
.headerr__active-link{
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 2rem;
}

.username_login{
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
}
.headerr__active-link i {
  transition: transform .20s linear;
}
.headerr__active-link i:hover{
  transform:translateY(-5px);
}
/* background */
.background_container{
  position: relative;
}
.background{
  position: relative;
  height: 100vh;
  display:none;
  user-select: none;
}
.background__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  color: white;
  font-weight: 500;
  font-size: 1.6rem;
  user-select: none;
  border-radius: 50%;
  text-align: center;
  line-height:40px;
  border: 1px solid #fff;
}
.next {
  right: 50px;
}
.prev{
  left: 50px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  border: none;
}
.information{
  position: absolute;
  top:40%;
  left: 15%;
  text-align: center;
  user-select: none;
}
.information__description{
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 3px;
  color: var(--primary-text-color);
  display: none;
}
.information__name{
  color: var(--primary-text-color);
  font-size: 5.5rem;
  margin: 20px 0 ;
  max-width: 400px;
}
.information__shop-link{
  background-color: #0c0c0c;
  color: var(--primary-text-color);
  font-size: 1rem;
  padding: 15px;
  font-weight: 500;
  line-height: 2.4rem;
  transition: all 0.3s linear;
}
.information__shop-link:hover{
  background-color: #fff;
  color:  #0c0c0c;
}
/* modal */
.header__user-container{
  display: flex;
  align-items: center;
  gap : 0 10px;
}
.headerr__active-list.cart{
  position: relative;
}
.cart-shadow{
  position: fixed; 
  top : 0 ;
  right : 0 ; 
  bottom:0;
  left : 0 ;
  background-color: rgba(0,0,0,0.4) ; /*tao lop phu*/
  z-index: 1000;
  display: none;
}
.cart-shadow.open{
  display: block;
}
.modal{
  position: absolute; 
  top:35px; 
  z-index: 2000;
  right:15px;
  display:none;
}
.modal.open{
  display:block;
}
.modal__container{
  width: 380px;
  max-height: 570px;
}
.modal-content{
  background-color:#fff;
  padding: 30px 20px;
  color : black;
  box-shadow: 0 5px 5px 0 rgb(50 50 50 / 20%);
}
.modal-product-item{
  display: flex;
  flex-direction: column;
  gap : 20px 0 ;
  max-height:320px;
  overflow-y: scroll;
}
.modal-header{
    display: flex;
    justify-content: space-between;  
}
.modal-header i {
    font-size: 1.5rem;
}
.modal-products-image{
    width: 78px;
    height: 78px;
}
.modal-products-details{
  display: flex;
  align-items: center;
}
.modal-products-infomation{
  margin-left: 10px;
  font-size: 1.5rem;
  color: #333;
}
.modal-products-quantity{
    display: block;
    padding: 7px 0;
    color :  #868686;
    font-weight: 500;
}
.modal-footer{
    padding-top: 10px;
}
.modal-products-total{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.modal-products-total-heading{
  font-size: 1.5rem;
  font-weight: 700;
}
.modal-products-total-numbers{
  font-size: 2.3rem;
}
.modal-product-cart{
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #333;
}
.modal-product-cart-check {
    width: 157px;
    height: 50px;
    background-color: #333;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height:50px;
    font-size: 1.3rem;
}
.modal-product-cart-check.checkout-product{
  margin-left: 5px;
  background-color: #868686;
}
.modal-sale{
    text-align: center;
    font-size: 1.2rem;
}
.modal-sale a {
  color: #333; 
  text-decoration: underline;
  font-weight: 700;
}
.modal-products-remove{
  color: #333;
  font-size: 1.1rem;
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border: 1px solid #333;
  border-radius: 50%;
}
.header-user-login{
  display: flex;
  align-items: center;
  gap : 0 5px;
  position: relative;

}
.header-user-item{
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #fff;
  border-radius: 3pt;
  width: 140px;
  text-align: left;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: none;
}
.header-user-link{
  font-size: 1.5rem;
  color: #333;
  display: block;
  padding:15px;
}
.header-user-link:hover{
  background-color: #868686;
}
.header-user-login-icon{
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}
.header__check-user:checked ~ 
.header-user-item {
    display: block;
}
.header__check-user:checked ~ 
.header__overlay-user {
    display: block;
}
.header__overlay-user {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;   
}
.btnlogout{
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  padding: 5px;
  font-weight: 500;
  line-height: 2.4rem;
  transition: all 0.3s linear;
  cursor: pointer;
  border: none;
}
.toast-message{
  position: fixed;
  top : 150px;
  right : 30px;
  display: none;
}
.toast-message-wishlist{
  position: fixed;
  top : 150px;
  right : 30px;
  display: none;
}
.toast-message-container{
  display: flex;
  align-items: center;
  gap : 0 10px;
  background-color: #333;
  color: #fff;
  padding: 25px;
  font-size: 1.4rem;
  animation: show_slide 1s ease forwards;
}
.toast-message-removed{
  position: fixed;
  top : 40px;
  right : 30px;
}
.modal-cart-empty{
  display: none;
  text-align: center;
}
.modal-cart-empty.block{
  display: block;
}
.modal-cart-empty a{
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 28px;
  border-bottom: 2px solid #000;
  margin-top: 5px;
  color: #333;;
  padding-bottom: 5px;
}
@keyframes show_slide {
	0% {
		transform: translateX(100%);
	}
	40% {
		transform: translateX(-10%);
	}
	80% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-10px);
	}
}

@keyframes hide_slide {
	0% {
		transform: translateX(-10px);
	}
	40% {
		transform: translateX(0%);
	}
	80% {
		transform: translateX(-10%);
	}
	100% {
		transform: translateX(140%);
	}
}
.search-box{
  position: fixed;
  inset: 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.search-input{
  position: relative;
  border: 0;
  padding: 0;
  line-height: 50px;
  width: 100%;
  color: #000;
  font-size: 4rem;
  font-weight: 500;
  border-bottom: 2px solid #000;
  padding-bottom: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.search-box-container{
  margin-top: 100px;
  padding: 0 70px;
}
.search-box-header{
  display: flex;
  align-items: center;
  justify-content: space-between
}
.search-box-header p {
  font-size: 1.8rem;
  font-weight: 700;
}
.search-box-header span {
  font-size: 1.5rem;
}
.search-box-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-btn-submit{
  background: transparent;
  color: #000;
  text-transform: capitalize;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  border: 0;
  padding: 0;
  margin-right: 20px;
}
