.header{
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header__topbar{
  border-bottom: 1px solid hsla(0,0%,100%,.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.header__topbar-left{
  display: flex;
  align-items: center;
}
.header__icon-mail{
  font-size:1.4rem;
  color: var(--primary-text-color);
  padding-right: 8px;
}
.header__icon{
  font-size:1.4rem;
  color: var(--primary-text-color);
  padding-right: 8px;
}
.header__text{
  font-size:1.4rem;
  color: var(--primary-text-color);
}
.header__text_gift{
  font-size:1.4rem;
  color: var(--primary-text-color);
  position: relative;
  margin-right: 10px;
  padding-right: 15px;
}
.header__text_gift:before{
  position:absolute;
  content:" " ;
  border-right: 1px solid hsla(0,0%,100%,.15);
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.header__mail:after{
  position:absolute;
  content:" " ;
  border-left: 1px solid hsla(0,0%,100%,.15);
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  left:0;
}
.header__mail{
  margin-left: 10px;
  padding-left: 15px;
  position: relative;
}
.header__nav{
  margin-left: 65px;
}
.header__nav-items{
    list-style: none;
    display: flex;
    align-items: center;
    gap : 0 40px;
}
.header__nav-link{
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding-bottom: 3px;
    position: relative;
    display: inline-block;
    margin-bottom: 3px;
}
.header__nav-link.active::after{
  width: 100%;
}
.header__nav-link::after{
    content: "";
    position: absolute;
    bottom: -1px;
    height: 2px;
    background: #fff;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    width: 0;
}
.header__nav-link:hover:after{
  width: 100%;
}
.header__navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 15px;
}
.header__menu{
  display: flex;
  align-items: center;
}
.header__logo{
  width: 70px;
  height: 18px;
}
.header__logo-img{
  width: 100%;
  height:100%;
  object-fit: cover;
}
.headerr__active-item{
  list-style: none;
  display: flex;
  align-items: center;
  gap : 0 25px;
}
.headerr__active-link{
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 2rem;
}
.headerr__active-link i {
  transition: transform .20s linear;
}
.headerr__active-link i:hover{
  transform:translateY(-5px);
}
/* background */
.background_container{
  position: relative;
}
.background{
  position: relative;
  height: 100vh;
  display:none;
  user-select: none;
}
.background__img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  color: white;
  font-weight: 500;
  font-size: 1.6rem;
  user-select: none;
  border-radius: 50%;
  text-align: center;
  line-height:40px;
  border: 1px solid #fff;
}
.next {
  right: 50px;
}
.prev{
  left: 50px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  border: none;
}
.information{
  position: absolute;
  top:40%;
  left: 15%;
  text-align: center;
  user-select: none;
}
.information__description{
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 3px;
  color: var(--primary-text-color);
  display: none;
}
.information__name{
  color: var(--primary-text-color);
  font-size: 5.5rem;
  margin: 20px 0 ;
  max-width: 400px;
}
.information__shop-link{
  background-color: #0c0c0c;
  color: var(--primary-text-color);
  font-size: 1rem;
  padding: 15px;
  font-weight: 500;
  line-height: 2.4rem;
  transition: all 0.3s linear;
}
.information__shop-link:hover{
  background-color: #fff;
  color:  #0c0c0c;
}
/* modal */
.modal{
  position: fixed; 
  top : 0 ;
  right : 0 ; 
  bottom:0;
  left : 0 ;
  background-color: rgba(0,0,0,0.4) ; /*tao lop phu*/
  align-items: center ;
  justify-content: center;
  display: none;
  z-index: 3;
}

.modal__container{
  width: 510px;
  background-color:#fff;
}
.modal-content{
  padding: 50px 30px 30px;
  position: relative;
}
.modal-heading{
  position: absolute;
  left:50%;
}
.modal-heading__text{
  text-align: center;
  font-size: 1.4rem;
  margin: 0 0 40px;
  font-weight: 600;
  display: inline-block;
  padding: 0 30px 15px;
  background: #fff;
  position: absolute;
  top: -6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  min-width: 60px;
}
.modal-heading__text:before{
  content: "";
  position: absolute;
  bottom: -1px;
  height: 2px;
  background: #333;
  left: 50%;
  transform: translateX(-50%);
  transition: all .3s ease;
  width: 150%;
}
.modal-close{
  text-align: center;
  position: absolute;
  z-index: 9;
  right: 16px;
  top: 35px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  background: #fff;
  /* -webkit-transform: rotate(45deg);
  transform: rotate(45deg); */
  border-bottom-color: transparent;
}
.modal-close:hover{
  background-color: #e5e5e5ad;
}
.modal-close-icon{
  font-size: 1.3rem;
  color: #333;
  line-height:28px !important;
}
/* FORM LOGIN */
.form-login {
  display: none;
}
.form-login.active{
  display: block;
}
.form-content{
  padding: 60px 30px 30px;
  border: 1px solid #EAEAEA;
}
.form__input{
  width:360px;
  height: 50px;
  padding: 0px 20px;
  border: 1px solid #EAEAEA;
  font-size: 1.7rem;
}
.email{
  margin: 15px 0;
}
.password{
  margin-bottom: 15px;
}
.remember-lost{
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-bottom: 20px;
}
.remember__check{
  cursor: pointer;
}
.remember__text{
  font-size: 1.5rem;
  color:rgb(15, 15, 15);
  font-weight: 500;
  margin-left: 2px;
  cursor: pointer;
}
.lost-password__link{
  font-size: 1.5rem;
  color:rgb(15, 15, 15);
  font-weight: 500;
  margin-left: 2px;
  letter-spacing:0.5px;
  position: relative;
  padding-bottom: 5px;
}
.lost-password__link:before{
    content: "";
    position: absolute;
    height: 1.5px;
    bottom: 0;
    background:rgb(15, 15, 15);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    width: 100%;
}
.btn-login{
  width:100%;
  height: 55px;
  padding: 0px 20px;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #333;
  border: none;
  cursor: pointer;
}
.button-create{
  width:100%;
  height: 55px;
  text-align: center;
  background-color: #B9B9B9;
  margin-top: 15px;
  cursor:pointer;
}
.button-create:hover{
  background-color: #333;
}
.button-create__text{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height:55px;
}
/* FORM Register */
.form-register{
  display: none;
}
.form-register.active{
  display: block;
}
.btn-resgister__click{
  width:100%;
  height: 55px;
  padding: 0px 20px;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #333;
  border: none;
  cursor: pointer;
}
.button-back{
  width:100%;
  height: 55px;
  text-align: center;
  background-color: #B9B9B9;
  margin-top: 15px;
  cursor:pointer;
}
.button-back:hover{
  background-color: #333;
}
.button-back__login{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height:55px;
}
