.myorder-container{
    max-width: 815px;
    margin: 0 auto;
    padding: 50px 0;
}
.myorder-heading{
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 30px;
}
.table-order{
    border: 1px solid rgba(49, 49, 49, 0.089);
}
.table-order thead {
    border-bottom: 1px solid rgba(49, 49, 49, 0.089);
}
.table-order-id{
    width: 50%;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 20px;
    text-align: left;
}