.myorder-container{
    max-width: 815px;
    margin: 0 auto;
    padding: 50px 0;
}
.myorder-heading{
    font-size: 3rem;
    font-weight: 500;
    padding-bottom: 30px;
}
.table-order{
    border: 1px solid rgba(49, 49, 49, 0.089);
}
/* .table-order thead {
    border-bottom: 1px solid rgba(49, 49, 49, 0.089);
} */
tr {
    border-bottom: 1px solid rgba(49, 49, 49, 0.089);
}
.table-order-id{
    width: 40%;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 20px;
    text-align: left;
    border-right: 1px solid rgba(49, 49, 49, 0.089);
}
.table-order-items{
    width: 20%;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 20px;
    text-align: left;
    border-right: 1px solid rgba(49, 49, 49, 0.089);
}
.table-order-amount{
    width: 20%;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 20px;
    text-align: left;
    border-right: 1px solid rgba(49, 49, 49, 0.089);
}
.table-order-status{
    width: 20%;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 20px;
    text-align: left;
    border-right: 1px solid rgba(49, 49, 49, 0.089);
}
.table-order-status.process{
    color: red;
}
.table-order-status.done{
    color: greenyellow;
}
.table-order-action{
    width: 20%;
    font-size: 1.4rem;
    font-weight: 500;
    padding: 20px;
    text-align: left;
    border-right: 1px solid rgba(49, 49, 49, 0.089);
}
.table-order-action a{
    background-color: blue;
    color: #333;
    border-radius: 2pt;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 35px;
    cursor: pointer;
    display: block;
}
.table-order-action a i {
    color: #fff;
}
.tr-content:hover{
    background-color: #e8e8e8;
    cursor: pointer;
}
.order-shipping-info{
    padding: 20px 0 10px 0;
    border-bottom: 1px solid #e8e8e8;
}
.details-order-heading{
    font-size: 1.8rem;
    color: #333;
    padding-bottom: 20px;
    font-weight: 500;
}
.order-info-item{
    padding-left: 20px;
}
.order-info-list {
    display: flex;
    align-items: center;
    gap : 0 5px;
    font-size: 1.3rem;
    margin-bottom: 10px;
}
.order-info-list p{
    font-weight: 600;
}
.order-shipping-info-status{
    margin-left: 20px;
    font-size: 1.5rem;
    color:red;
    font-weight: 500;
}
.order-shipping-info-product-item{
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap : 0 30px;
    margin-bottom: 10px;
}
.order-shipping-info-product-name{
    font-size: 1.7rem;
    color: #e8e8e8;
}