.success-container{
    max-width: 1410px;
    margin: 0 auto;
    padding: 50px 0;
}
.success-heading{
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    
}
.success-heading i{
    color: greenyellow;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid #333;
}
.success-heading p { 
    font-size: 3rem;
    color: #535353;
}